
.top-navbar{
	width: 100% !important;
	box-shadow: none !important;
	background-color: transparent !important;
}

.top-navbar-with-scroll{
	width: 100% !important;
}

.top-navbar-with-scroll, .logo, footer, section h2{
	background-color: #004C5E !important;
}

@font-face {
  font-family: "Bw-Seido-Round-Demo-Black";
  src: url("../fonts/BwSeidoRoundDemo-Black.otf");
}

@font-face {
  font-family: "Bw-Seido-Round-Demo-Bold";
  src: url("../fonts/BwSeidoRoundDemo-Bold.otf");
}

@font-face {
  font-family: "Bw-Seido-Round-Demo-Light";
  src: url("../fonts/BwSeidoRoundDemo-Light.otf");
}

@font-face {
  font-family: "Bw-Seido-Round-Demo-Medium";
  src: url("../fonts/BwSeidoRoundDemo-Medium.otf");
}

@font-face {
  font-family: "Bw-Seido-Round-Demo-Regular";
  src: url("../fonts/BwSeidoRoundDemo-Regular.otf");
}

@font-face {
  font-family: "Bw-Seido-Round-Demo-Thin";
  src: url("../fonts/BwSeidoRoundDemo-Thin.otf");
}

.nav-wrapper a, ul li {
	font-family: Bw-Seido-Round-Demo-Light;
}

.main-title{
	color: #004C5E;
}

.main-title, h3, span {
	font-family: Bw-Seido-Round-Demo-Medium !important;
}

.navbar-fixed{
	transition: top 0.3s;
}

.slider{
	position: absolute !important;
	top: 0 !important;
	/* ORIGINAL */
	/*height: 450px !important;*/
}

.sidenav{
	z-index: 1000;
}

.logo{
	padding: 4px 0 4px 0;
}

.p-justify-text{
	text-align: justify;
	font-family: Bw-Seido-Round-Demo-Regular;
}

#section-contact{
	margin-bottom: 50px;
}

#floating-social-container{
	position: fixed !important;
	width: 120px !important;
	top: 22px !important;
	right: 0px !important;
	z-index: 99999 !important;
}

#social-list{
	float:left;
	margin-top: 0 !important;
}

#social-list li{
	display:inline !important;
	margin-right: 10px;
}

#social-icons-menu{
	font-size: 1.8em;
}

.media-bottom li{
	margin-bottom: 5px;
	display: inline;
}

#circle-instagram span:hover{
	background-color: #fff;
	transition: 1s ease;
}

.loader-circle-hide{
	display: none !important;
}

.loader-circle-show{
	display: block !important;
}

#location-container{
	height:100%;
    width:100%;
}

footer{
	padding-left: 10px !important;
	padding-right: 10px !important;
}

#footer-title-info{
	font-size: 1.2em !important;
	margin-top: 0px !important;
	margin-bottom: 5px !important;
}

#footer-list-info{
	margin-top: 0;
	margin-bottom: 0;
}

#footer-list-info li{
	display: inline;
}

.info{
	font-size: 0.9em;
}

.div-footer-container ul li{
	display: block;
}